* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
}
article {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  box-shadow: 10px 10px 5px grey;
}

section :first-child {
  background-color: red;
  position: absolute;
}
section :nth-child(2) {
  background-color: yellow;
  position: absolute;
  right: 200px;
  top: 200px;
}
section :last-child {
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
